In [1]:
import pandas as pd
import numpy as np
doc=pd.read_csv("(A)TRAIN_info_SMS.csv", encoding = "ISO-8859-1")

In [2]:
msg=doc["Message"].values

In [3]:
np.unique(doc['Label'].values)

array(['Appointment', 'Bus', 'Cab', 'Delivery', 'Expiry', 'Flight',
       'Hotel', 'Movie', 'Payment', 'PickUp', 'Reservation', 'Train'],
      dtype=object)

In [4]:
labels =[]

for x in doc['Label'].values:
    if x=='Appointment':
        labels.append(0)
    if x=='Bus':
        labels.append(1)
    if x=='Cab':
        labels.append(2)
    if x=='Delivery':
        labels.append(3)
    if x=='Expiry':
        labels.append(4)
    if x=='Flight':
        labels.append(5)
    if x=='Hotel':
        labels.append(6)
    if x=='Movie':
        labels.append(7)
    if x=='Payment':
        labels.append(8)
    if x=='PickUp':
        labels.append(9)
    if x=='Reservation':
        labels.append(10)
    if x=='Train':
        labels.append(11)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(msg, labels, test_size=0.25)

In [7]:
from sklearn.feature_extraction.text import  CountVectorizer
vect = CountVectorizer()

X_train_dtm = vect.fit_transform(X_train)

X_test_dtm = vect.transform(X_test)

In [8]:
# 1. import
from sklearn.naive_bayes import MultinomialNB

# 2. instantiate a Multinomial Naive Bayes model
nb = MultinomialNB()

%time nb.fit(X_train_dtm, y_train)

CPU times: user 32 ms, sys: 12 ms, total: 44 ms
Wall time: 44 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [9]:
y_pred_class = nb.predict(X_test_dtm)

# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

1.0

In [10]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[248,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0, 258,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0, 250,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0, 248,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0, 241,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0, 255,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0, 241,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 239,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 247,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 259,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 243,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 271]])

## fine tuning

In [11]:
fine_vect = CountVectorizer(stop_words='english')

fine_vect = CountVectorizer(ngram_range=(1, 2))

# ignore terms that appear in more than 50% of the documents
fine_vect = CountVectorizer(max_df=0.5)

In [12]:
fine_vect = CountVectorizer(min_df=2)

In [13]:
X_train_dtm2 = fine_vect.fit_transform(X_train)

X_test_dtm2 = fine_vect.transform(X_test)

In [14]:
from sklearn.naive_bayes import MultinomialNB

# 22. instantiate a Multinomial Naive Bayes model
nb2= MultinomialNB()

%time nb2.fit(X_train_dtm2, y_train)

CPU times: user 16 ms, sys: 4 ms, total: 20 ms
Wall time: 20.5 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
y_pred_class2 = nb2.predict(X_test_dtm2)

# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class2)

1.0

In [16]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class2)

array([[248,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0, 258,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0, 250,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0, 248,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0, 241,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0, 255,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0, 241,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0, 239,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0, 247,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0, 259,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 243,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 271]])

##  start from here

In [17]:
data  = pd.read_csv('(B)TEST_info_SMS.csv', encoding = "ISO-8859-1")

In [18]:
status={0:'Appointment',
        1:'Bus',
        2:'Cab',
        3:'Delivery',
        4:'Expiry',
        5:'Flight',
       6:'Hotel',
        7: 'Movie',
        8:'Payment', 
        9:'PickUp', 
        10:'Reservation',
        11:'Train'}

### fine tune model

In [28]:
data

      RecordNo                                            Message
0            1  Thanks! at booking TFS-AT-l31020038 @ 6 a.m.,M...
1            2  Repair ref.no for your car is JC17566711 opene...
2            3  DEAR Jesse, THANK YOU FOR YOUR BOOKING (ORDER ...
3            4  * KSRTC m-Ticket *  from: Panaji Goa to: Kunda...
4            5  Bill dated 2012-09-01 for Rs 167 has been gene...
5            6  * KSRTC m-Ticket *  from: Shivamogga to: SRIKA...
6            7  PNR:8555772237,TRAIN:41263,DOJ:2013-06-15,SL,A...
7            8  PNR:6848621637,TRAIN:8818,DOJ:2013-07-17,FC,BB...
8            9  PNR:4545157652,TRAIN:8762,DOJ:2012-10-04,AC3,B...
9           10  Hi Customer, Booking ID: WJ8I2YT. Seats: STAND...
10          11  Dear Guest, Thanks for choosing The Attic. Ord...
11          12  Maruti Auto Agency : Service of your car KA65Z...
12          13  * KSRTC m-Ticket *  from: TANJAVOOR to: Kundap...
13          14  Appointment with Dr Austin in Madurai on 2010-...
14          15  Bill dated 2014-01-05 for Rs 375 has been gene...
15          16  [Lappert 's] Hi Lucas, your reservation is con...
16          17  Hi Customer, Booking ID: WGLC0IP. Seats: GOLD-...
17          18  Aryan Auto Agency : Service of your car KA61Y6...
18          19  The PNR for your JET Airways Flt 8H752 for TCR...
19          20  Repair ref.no for your car is JC43322124 opene...
20          21  PNR:6783625783,TRAIN:16547,DOJ:2013-07-29,SL,B...
21          22  Welcome to Pub R.No. 360, 592, 547, 429 Ch.In ...
22          23  [Robeks] Hi Ian, your reservation is confirmed...
23          24  * KSRTC m-Ticket *  from: DAVANEGERE to: PONDI...
24          25  Thank you for choosing Meru for 07 Dec 2015 at...
25          26  The PNR for your AirAsia Flt 3W466 for DHM-DAE...
26          27  PNR:1843356382,TRAIN:7275,DOJ:2010-07-19,AC3,B...
27          28  Dear Guest, Thanks for choosing Griff 's Hambu...
28          29  * KSRTC m-Ticket *  from: Belagavi to: KOLAR G...
29          30  The PNR for your Air India Flt 1H256 for HBX-T...
...        ...                                                ...
2970      2971  Hi Customer, Booking ID: W35Y0VI. Seats: SILVE...
2971      2972  Welcome to Camden ChildrenÃ¢â¬â¢s Garden R.N...
2972      2973  Hi Customer, Booking ID: WFWZZVU. Seats: GOLD-...
2973      2974  Thank you for choosing Meru for 2011-07-22 at ...
2974      2975  Appointment with Dr Angel in KASARGOD on 2010-...
2975      2976  PNR:6314516847,TRAIN:5243,DOJ:2014-11-21,SL,AG...
2976      2977  Bill dated 06-Jan-16 for your airtel fixedline...
2977      2978  Appointment with Dr Camden in MERCARA MADIKERI...
2978      2979  PNR:3653853655,TRAIN:2446,DOJ:2012-10-28,SL,BP...
2979      2980  Bill dated 2015-02-07 for Rs 525 has been gene...
2980      2981  Bill dated 2009-12-18 for Rs 713 has been gene...
2981      2982  DEAR Devin, THANK YOU FOR YOUR BOOKING (ORDER ...
2982      2983  airtel update: Your bill dated 06-JUN-16 of Rs...
2983      2984  * KSRTC m-Ticket *  from: Hyderabad to: Puduch...
2984      2985  KSRTC Bus : PNR :J09674199,Journey Date :10-Ap...
2985      2986  PNR:7617221313,TRAIN:6782,DOJ:2010-09-29,SL,AT...
2986      2987  Repair ref.no for your car is JC15628581 opene...
2987      2988  Welcome to Oran Es Senia Airport R.No. 250, 10...
2988      2989  Thank you for choosing Ola for 2012-12-13 at 5...
2989      2990  * KSRTC m-Ticket *  from: PALAKKAD to: PAYYANU...
2990      2991  - Sam Tourists - Your journey details: BusNo: ...
2991      2992  PNR:4434533564,TRAIN:87363,DOJ:2010-04-07,FC,A...
2992      2993  Bill received from Bangalore Electricit. Bill ...
2993      2994  [fritto misto] Hi Riley, your reservation is c...
2994      2995  trevor yadhav sar your Lic policy number.01760...
2995      2996  * KSRTC m-Ticket *  from: PONDICHERRY to: KOTT...
2996      2997  The PNR for your JET Airways Flt 4T276 for BEP...
2997      2998  Welcome to BT HOLD R.No. 225, 467, 164 Ch.In 2...
2998      2999  PNR:3866265157,TRAIN:8442,DOJ:2012-10-13,FC,BD...
2999      3000  Bill dated 2013-11-01 for Rs 710 has been gene...

[3000 rows x 2 columns]

In [19]:
testing_msgs = data["Message"].values
labels2=[]
records2=[]
for i,item in enumerate(testing_msgs):
    records2.append(i+1)
    labels2.append(status[nb2.predict(fine_vect.transform([testing_msgs[i]]))[0]])

In [20]:
d2={'RecordNo':records2,'Label':labels2}

In [21]:
info2 = pd.DataFrame(data=d2)

info2=info2.set_index('RecordNo' )
info2.to_csv('new_result.csv'),#index=False)

(None,)

### normal model

In [22]:
testing_msgs = data["Message"].values
labels=[]
records=[]
for i,item in enumerate(testing_msgs):
    records.append(i+1)
    labels.append(status[nb.predict(vect.transform([testing_msgs[i]]))[0]])

In [23]:
d={'RecordNo':records,'Label':labels}

In [24]:
info = pd.DataFrame(data=d)

info=info.set_index('RecordNo' )
info.to_csv('new_result_normal.csv'),#index=False)

(None,)

In [40]:
status[nb.predict(vect.transform([m]))[0]]

'Delivery'

## example

In [44]:
testing_msgs[0]

'Thanks! at booking TFS-AT-l31020038 @ 6 a.m.,May 8, 2016 is confirmed.'

In [45]:
status[nb.predict(vect.transform([testing_msgs[0]]))[0]]

'Appointment'